body{
  font-family: 'liquid_crystalregular', sans-serif;
  background-image: url('images/bg_img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}  
.clock {
  height: auto;
  width: auto;
  line-height: 100px;  
  margin: 150px auto 0;
  padding: 0 50px;
  background: #222;
  color: #eee;
  text-align: center;
  border-radius: 15px;
  transition: box-shadow 0.5s;
  text-shadow: 0 0 3px #fff;
  font-size: 40px;
}
.clock:hover,.set:hover,.time-input select:hover {
box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}
.set {
  background-color: #222;
  height: auto;
  width: auto;
  text-align: left;
  font-size: 15px;
  border-radius: 10px;
  color: #eee;
  box-shadow: 0 0 7px #222;
  text-shadow: 0 0 3px #fff;
  margin-top: 20px;
  transition: box-shadow 0.5s;
  cursor: pointer;
}
.time-input {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.time-input select {
  margin: 0 10px;
  padding: 5px;
  font-size: 10px;
  background-color: #222;
  color: #ffffff;
  border-radius: 10px;
  transition: box-shadow 0.5s;
  text-shadow: 0 0 3px #fff;
  text-align-last: center;
  width: auto;
  cursor: pointer;
}
.time-input select:focus {
  outline: none;
}
.time-input select::-ms-expand {
  color: #eee;
}

.time-input select option {
  color: #fefefe;
}

@media only screen and (max-width: 400px) {
body {
  background-image: url('images/bg_img2.jpg');
}
}